---
import { Image } from "astro:assets";

export interface Props {
  description: string;
  src: string;
  url: string;
}

const { src, description, url } = Astro.props;
---

<div>
  <a href={url} target="_blank">
    <Image
      src={src}
      alt={description}
      width={300}      
    />
    <p>{description}</p>
  </a>
</div>

<style>
  a,
  a:hover,
  a:visited {
    color: #1f1000;
  }

  p {
    margin: 10px 0;
    text-align: center;
  }

  img {
    display: block;
  }
</style>
