---
import ProfileSection from "../components/ProfileSection.astro";
---

<ProfileSection title="Awards">
  <ul>
    <li>
      <i class="icon-star-empty"></i><a
        href="https://web.archive.org/web/20120502171925/http://www.ricoh.co.jp/javachallenge/result2011/oracle_prize/"
        >RICOH &amp; Java Developer Challenge 2011</a
      >, <strong>Oracle AWARD</strong>
    </li>
    <li>
      <i class="icon-star-empty"></i><a
        href="https://web.archive.org/web/20110602175941/http://www.ricoh.co.jp/javachallenge/result/#2009"
        >RICOH &amp; SUN Java Challenge 2009</a
      >, <strong>Microsystems AWARD</strong>
    </li>
    <li>
      <i class="icon-star-empty"></i><a
        href="https://web.archive.org/web/20101029084143/http://javafx.com/challenge/"
        >JavaFX Coding Challenge, 2009</a
      >, <strong>Student Winner</strong>
    </li>
  </ul>
</ProfileSection>
