---
import ProfileSection from "../components/ProfileSection.astro";
---

<ProfileSection title="Educational Background">
  <ul>
    <li>
      <a href="http://www.naist.jp/en/" target="_blank">
        Nara Institute of Science and Technology, Master of Engineering, 2013
      </a>
      <ul>
        <li>
          Thesis:
          <a href="https://library.naist.jp/opac/book/65967" target="_blank">
            Analysis of the Review Process Based on Historic Usage of the Review
            Management System
          </a>
        </li>
      </ul>
    </li>
  </ul>
</ProfileSection>
