---
import ProfileSection from "../components/ProfileSection.astro";
---

<ProfileSection title="Languages">
  <div>
    <h3>Japanese</h3>
    Native
  </div>

  <div>
    <h3>English</h3>
    Limited Working Proficiency
  </div>
</ProfileSection>
