---
import ProfileSection from "../components/ProfileSection.astro";
---

<ProfileSection title="Qualification">
  <ul>
    <li>
      <a
        href="https://www.ipa.go.jp/en/it-examinations/examcategories.html"
        target="_blank"
      >
        Software Design & Development Engineer Examination
        <span lang="ja">(ソフトウェア開発技術者試験)</span>, 2008
      </a>
    </li>
    <li>
      <a
        href="https://www.ipa.go.jp/en/it-examinations/examcategories.html"
        target="_blank"
      >
        Information Security Specialist Examination
        <span lang="ja">(情報セキュリティスペシャリスト試験)</span>, 2009
      </a>
    </li>
    <li>
      <a
        href="https://www.scrumalliance.org/get-certified/scrum-master-track/certified-scrummaster"
        target="_blank"
      >
        Certified ScrumMaster (Scrum Alliance), 2019
      </a>
    </li>
  </ul>
</ProfileSection>
